.button {
  display: inline-block;
  padding: 1.125rem 1.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  position: relative;

  @include mq($until: tablet) {
    display: none;
  }

  &--large {
    font-size: 1.5rem;
  }

  &--light-blue {
    background-color: var(--light-blue);
    color: var(--white);
    transition: background-color ease-in-out 200ms;

    &:hover {
      background-color: var(--orange);
      transition: background-color ease-in-out 200ms;
    }
  }

  &--orange {
    background-color: var(--orange);
    color: var(--white);
    transition: all ease-in-out 200ms;

    &:hover {
      background-color: var(--dark-blue);
      color: var(--orange);
      transition: all ease-in-out 200ms;
    }
  }

  &-fixed {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    text-align: center;

    @include mq($from: tablet) {
      display: none;
    }
  }
}
