.circle {
  width: 45px;
  height: 45px;
  border: 4px solid var(--dark-blue);
  border: 4px solid;
  border-top-color: var(--dark-blue);
  border-bottom-color: var(--dark-blue);
  border-left-color: var(--dark-blue);
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  left: -23px;
  background-color: var(--light-blue);
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotation 4s infinite linear;

  @include mq($from: tablet) {
    width: 65px;
    height: 65px;
    top: -24px;
    left: -29px;
  }

  @include mq($until: tablet) {
    display: none;
  }

  .in-view & {
    animation-play-state: paused;
  }

  span {
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;

    @include mq($from: tablet) {
      width: 20px;
      height: 20px;
    }
  }
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}
