header {
  padding-bottom: 3.5rem;
  margin-top: 4.375rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
  }

  .column {
    width: 100%;
    padding-right: 60px;

    @include mq($until: tablet) {
      max-width: 500px;
      padding-right: 0;
    }

    &:nth-last-child(1) {
      width: 100%;
      max-width: 330px;
      text-align: center;
      padding-right: 0;
    }
  }

  img {
    margin-bottom: 38px;
  }
}
