.list {
  display: flex;

  &.list--vertical {
    margin-top: 4.875rem;
    flex-direction: column;

    .list__item {
      display: flex;
      align-items: center;
      margin-bottom: 3.3125rem;
      opacity: 0;

      &.animate__bounceInRight {
        opacity: 1;
      }

      img {
        margin-right: 40px;
        border-radius: 50%;
      }

      h4 {
        margin-bottom: 10px;
      }
    }
  }

  &.list--horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3.75rem;

    .text__content {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-left: 110px;
      padding-right: 30px;
      transition: all ease-in 250ms;

      &.is-active {
        opacity: 1;
        visibility: visible;
        transition: all ease-in 250ms;
      }
    }

    .item__text {
      transition: all ease-in 250ms;

      &.is-active {
        opacity: 1;
        visibility: visible;
        transition: all ease-in 250ms;
      }
    }

    .text__title {
      &.is-active {
        opacity: 0;
        visibility: hidden;
      }
    }

    .list__item {
      width: 50%;
      display: flex;
      align-items: center;
      margin-bottom: 2.875rem;
      position: relative;

      .h2 {
        margin: 0;
        margin-left: 1.5625rem;
      }

      img {
        border-radius: 50%;
      }
    }
  }
}
