section {
  padding-bottom: 3.5rem;
  margin-top: 3.125rem;

  .section {
    &__image {
      position: relative;
      margin-top: 3.75rem;
      max-width: 1030px;
      max-height: 672px;
      width: 100%;
      height: 100%;
      transition: all 500ms ease-in;

      &.single-image {
        max-height: 500px;
      }


      &:hover {
        .diagram_1 {
          opacity: 0;
          visibility: hidden;
        }

        .diagram_2 {
          opacity: 1;
          visibility: visible;
        }
      }

      &:before {
        content: '';
        padding-top: 100%;
        display: block;
      }

      object {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all 500ms ease-in;

        &.diagram_1 {
          z-index: 10;
        }

        &.diagram_2 {
          z-index: 10;
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }

}
