.reset-list {
  padding-left: 0;
  list-style: none;
}

.text-blue-light {
  color: var(--light-blue);
}

.text-blue-dark {
  color: var(--dark-blue);
}

.text-orange {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-white {
  background-color: var(--white);
}
