html {
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--light-blue);
  color: var(--white);
  font-family: 'CiscoSansTTLight', 'Times New Roman', Times, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  margin-top: 30px;
  // margin-top: 30px;

  &.nav-sticky {
    // margin-top: 76px;
  }
}
